{% extends "@pages/page-structure.twig" %}
{% block content %}
    {% include "@components/hero/hero--internal.twig" with internal_hero %}
<div class="layout--sidebar">
    <div class="block--sidebar">
        <nav role="navigation" aria-labelledby="block-biddermainmenu-menu" id="block-biddermainmenu">
            <h2 class="visually-hidden" id="block-biddermainmenu-menu">Bidder Main Menu</h2>
            <nav class="nav nav--bidder" aria-label="Bidder Menu in Side">
                <div class="nav__list">
                    <ul>
                        <li class="menu-item">
                            <a href="/bidder/my-dashboard">
                                <span class="icon">
                                    <svg aria-hidden="false" width="21" height="21">
                                        <use xlink:href="#icon-onehouse_my_dashboard_active"></use>
                                    </svg>
                                </span>
                                <span class="title">My Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/bidder/my-bidder-status">
                                <span class="icon">
                                    <svg aria-hidden="false" width="27" height="27">
                                        <use xlink:href="#icon-onehouse_status_default"></use>
                                    </svg>
                                </span>
                                <span class="title">My Bidder Status</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item--active-trail">
                            <a href="/bidder/one-house-match">
                                <span class="icon">
                                    <svg aria-hidden="false" width="26" height="22">
                                        <use xlink:href="#icon-onehouse_one_house_match"></use>
                                    </svg>
                                </span>
                                <span class="title">One House Match</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/bidder/account-details">
                                <span class="icon">
                                    <svg aria-hidden="false" width="19" height="26">
                                        <use xlink:href="#icon-onehouse_change_password"></use>
                                    </svg>
                                </span>
                                <span class="title">Change Password</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/user/logout">
                                <span class="icon">
                                    <svg aria-hidden="false" width="19" height="26">
                                        <use xlink:href="#icon-onehouse_log-out"></use>
                                    </svg>
                                </span>
                                <span class="title">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>
    <div class="block--main">
	    <div data-drupal-messages-fallback="" class="hidden"></div>
        <div class="paragraph-widget paragraph-widget--profile-form" id="ip_paragraph_adv-4">
            <script>
                function cancel_bidder_option(me) {
                    let _form = me.closest('form');
                    if (!_form) return false;

                    let _opt = _form.querySelector('[name="field_user_participate"][value="0"]');
                    if (!_opt) return false;

                    _opt.setAttribute('checked', true);
                    return true;
                }
            </script>
            <div class="text-content">
                <h2>One House Match</h2>
                <p>Select an option below. If you choose to participate, select the zip code(s) in which you would like to get updates about new properties coming to auction and immediate sale. Once items are selected, click save at the bottom of the page to update you Dashboard with your property location preferences. lorem ipsum dolor sit amet… Please select an option:</p>
            </div>
            <form class="user-bidder-options-form user-form" data-drupal-selector="user-bidder-options-form" action="/bidder/one-house-match" method="post" id="user-bidder-options-form" accept-charset="UTF-8">
                <div class="field--type-boolean field--name-field-user-participate field--widget-options-buttons js-form-wrapper form-wrapper" data-drupal-selector="edit-field-user-participate-wrapper" id="edit-field-user-participate-wrapper">
                    <fieldset data-drupal-selector="edit-field-user-participate" id="edit-field-user-participate--wrapper" class="fieldgroup form-composite required js-form-item form-item js-form-wrapper form-wrapper" required="required" aria-required="true">
                        <legend><span class="fieldset-legend js-form-required form-required">Would you like to participate in One House Match?</span></legend>
                        <div class="fieldset-wrapper">
                            <div id="edit-field-user-participate">
                                <div class="js-form-item form-item js-form-type-radio form-item-field-user-participate js-form-item-field-user-participate">
                                    <input data-drupal-selector="edit-field-user-participate-0" type="radio" id="edit-field-user-participate-0" name="field_user_participate" value="0" class="form-radio">
                                    <label for="edit-field-user-participate-0" class="option">NO</label>
                                </div>
                                <div class="js-form-item form-item js-form-type-radio form-item-field-user-participate js-form-item-field-user-participate">
                                    <input data-drupal-selector="edit-field-user-participate-1" type="radio" id="edit-field-user-participate-1" name="field_user_participate" value="1" checked="checked" class="form-radio">
                                    <label for="edit-field-user-participate-1" class="option">YES</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <input autocomplete="off" data-drupal-selector="form-c3ogxr1eakuydqw7pritprqare-ccrdgnvyb6arjvpi" type="hidden" name="form_build_id" value="form-C3OGxR1eakUyDqW7prItprqarE_cCRdgNvyB6aRjVpI">
                <input data-drupal-selector="edit-user-bidder-options-form-form-token" type="hidden" name="form_token" value="vH0wTeIMKKNCz5zR7wziEHLAGuG-L6iWBp08UhYf08E">
                <input data-drupal-selector="edit-user-bidder-options-form" type="hidden" name="form_id" value="user_bidder_options_form">
                <hr />
                <div class="field--type-entity-reference field--name-field-user-zip-codes field--widget-options-buttons js-form-wrapper form-wrapper" data-drupal-selector="edit-field-user-zip-codes-wrapper" data-drupal-states="{&quot;visible&quot;:{&quot;[name=\u0022field_user_participate\u0022]&quot;:{&quot;value&quot;:1}}}" id="edit-field-user-zip-codes-wrapper">
                    <fieldset data-drupal-selector="edit-field-user-zip-codes" id="edit-field-user-zip-codes--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
                        <legend><span class="fieldset-legend">Select zip codes to receive updates lorem ipsum.</span></legend>
                        <div class="fieldset-wrapper">
                            <div id="edit-field-user-zip-codes" class="form-checkboxes">
                                <div class="js-form-item form-item js-form-type-checkbox form-item-field-user-zip-codes-2 js-form-item-field-user-zip-codes-2">
                                    <input data-drupal-selector="edit-field-user-zip-codes-2" type="checkbox" id="edit-field-user-zip-codes-2" name="field_user_zip_codes[2]" value="2" checked="checked" class="form-checkbox">
                                    <label for="edit-field-user-zip-codes-2" class="option"><span class="checkbox"></span>21218</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Save" class="button button--primary js-form-submit form-submit">
                    <input class="button btn_cancel--bidder_options button--primary js-form-submit form-submit" onclick="return cancel_bidder_option(this)" data-drupal-selector="edit-cancel" type="submit" id="edit-cancel" name="op" value="cancel">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}