{% extends "@pages/page-structure.twig" %}
{% block content %}
    {% include "@components/hero/hero--internal.twig" with internal_hero %}

<div class="property-block layout--2cols">
    <div class="property-block property-block--sign-in column--left">
        <div class="inner">
	        <div data-drupal-messages-fallback="" class="hidden"></div>
	        <div class="local-tasks-menu-wrapper">
                <h2 class="visually-hidden">Primary tabs</h2>
                <ul class="primary"><li><a href="/user/login" data-drupal-link-system-path="user/login">Log in</a></li>
                    <li><a href="/user/register" data-drupal-link-system-path="user/register">Create new account</a></li>
                    <li><a href="/user/password" data-drupal-link-system-path="user/password" class="is-active">Reset your password<span class="visually-hidden">(active tab)</span></a></li>
                </ul>
            </div>
            <form class="user-pass" data-drupal-selector="user-pass" action="/user/password" method="post" id="user-pass" accept-charset="UTF-8">
                <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
                    <label for="edit-name" class="js-form-required form-required">Username or email address</label>
                    <input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="254" class="form-text required" required="required" aria-required="true">
                </div>
                <p>Password reset instructions will be sent to your registered email address.</p>
                <input autocomplete="off" data-drupal-selector="form-kjzmyvmjclbsb5ytaejnbw5ubkaoav2f-k-rnlmx3di" type="hidden" name="form_build_id" value="form-KJZMyvMjCLBsb5ytaEjnbw5UBKaOaV2F-K_rNLmX3DI">
                <input data-drupal-selector="edit-user-pass" type="hidden" name="form_id" value="user_pass">
                <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit" class="button js-form-submit form-submit">
                </div>
            </form>
		</div>
    </div>
    <div class="property-block property-block--how-it-works column--right">
        <div class="inner text-content">
            <h2>How it Works</h2>
            <ul>
                <li>Create a new account to take advantage of our new online portal omnis iste natus</li>
                <li>Edit your profile with your contact information for the One House Match system omnis iste natus</li>
                <li>Submit your bidder application to be able to make offers on properties at auction and up for immediate sale omnis iste natus</li>
                <li>Let us know what you're looking for with One House Match omnis iste natus</li>
                <li>Get info straight to your email regarding the properties you are interested in omnis iste natus</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}