{% extends "@pages/page-structure.twig" %}
{% block content %}
    {% include "@components/hero/hero--internal.twig" with internal_hero %}

<div class="paragraph-widget paragraph-widget--views-embed" id="ip_paragraph_adv-10">
    <div class="content">
        <div class="field field--name-field-ip-views-embed-view field--type-viewfield field--label-hidden">
            <div class="field__item field__item-label-hidden">
                <div class="views-element-container">
                    <div class="js-view-dom-id-b9a3766fb893ad43a98e473e8770bec26cb87f7ebd793ee0f41711cc049ac4ad view--view_search view--view_search--block_content view--block_content">
                        <form class="views-exposed-form" data-drupal-selector="views-exposed-form-view-search-block-content" action="/search" method="get" id="views-exposed-form-view-search-block-content" accept-charset="UTF-8">
                            <div class="js-form-item form-item js-form-type-textfield form-item-key js-form-item-key">
                                <label for="edit-key">Keywords</label>
                                <input data-drupal-selector="edit-key" type="text" id="edit-key" name="key" value="baltimore" size="30" maxlength="128" class="form-text">
                                <div class="form-item-key--icon">
                                    <svg aria-hidden="false" width="38" height="25">
                                        <use xlink:href="#icon-onehouse_search_icon"></use>
                                    </svg>
                                </div>
                            </div>
                            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                                <input data-drupal-selector="edit-submit-view-search" type="submit" id="edit-submit-view-search" value="Submit" class="button js-form-submit form-submit">
                            </div>
                        </form>
                        <div class="view-rows-wrap view-rows-wrap--with-result">
                            <div class="views-row">
                                <div class="views-field views-field-title">
                                    <span class="field-content"><a href="/property/525-e-22nd-st-baltimore-md-21218" hreflang="en">525 E 22nd St, Baltimore, MD 21218</a></span>
                                </div>
                                <div class="views-field views-field-search-api-excerpt">
                                    <span class="field-content">… Home Search 525 E 22nd St, <strong>Baltimore</strong>, MD 21218 PUBLIC ONSITE AUCTION: Thurs, June 6, … Price is Suggested Opening Bid. 3 Story Townhome in East <strong>Baltimore</strong> Midway. Property is Vacant. 10% Buyer's Premium or … LLC &nbsp; 410-488-3124 (broker) Sat, 06/17/2023 - 12:00 East <strong>Baltimore</strong> Midway 21218 Sun, 04/28/2024 - 12:00 Make an Offer …</span>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-wrap">
                            <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
                                <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                                <ul class="pager__items js-pager__items">
                                    <li class="pager__item pager__item--first">
                                        <a href="?key=baltimore&amp;page=1" title="Go to first page"><span class="visually-hidden">First page</span><span aria-hidden="true"><svg aria-hidden="false" width="25" height="25">
                                            <use xlink:href="#icon-onehouse_pagination_doublearrow"></use>
                                        </svg></span></a>
                                    </li>
                                    <li class="pager__item pager__item--prev">
                                        <a href="?key=baltimore&amp;page=3" title="Go to prev page" rel="prev"><span class="visually-hidden">Prev page</span><span aria-hidden="true"><svg aria-hidden="false" width="20" height="25">
                                            <use xlink:href="#icon-onehouse_pagination_arrow"></use>
                                        </svg></span></a>
                                    </li>
                                    <li class="pager__item is-active">
                                        <a href="?key=baltimore&amp;page=0" title="Current page"><span class="visually-hidden">Current page</span>1</a>
                                    </li>
                                    <li class="pager__item">
                                        <a href="?key=baltimore&amp;page=1" title="Go to page 2"><span class="visually-hidden">Page</span>2</a>
                                    </li>
                                    <li class="pager__item">
                                        <a href="?key=baltimore&amp;page=2" title="Go to page 3"><span class="visually-hidden">Page</span>3</a>
                                    </li>
                                    <li class="pager__item">
                                        <a href="?key=baltimore&amp;page=3" title="Go to page 4"><span class="visually-hidden">Page</span>4</a>
                                    </li>
                                    <li class="pager__item pager__item--next">
                                        <a href="?key=baltimore&amp;page=1" title="Go to next page" rel="next"><span class="visually-hidden">Next page</span><span aria-hidden="true"><svg aria-hidden="false" width="20" height="25">
                                            <use xlink:href="#icon-onehouse_pagination_arrow"></use>
                                        </svg></span></a>
                                    </li>
                                    <li class="pager__item pager__item--last">
                                        <a href="?key=baltimore&amp;page=3" title="Go to last page"><span class="visually-hidden">Last page</span><span aria-hidden="true"><svg aria-hidden="false" width="25" height="25">
                                            <use xlink:href="#icon-onehouse_pagination_doublearrow"></use>
                                        </svg></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}