<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #fff;"></span>
    <span class="sg-label">$white (#fff)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000;"></span>
    <span class="sg-label">$black (#000)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00F;"></span>
    <span class="sg-label">$blue (#00F)</span>
  </li>
</ul>
