<div class="how-we-work">
    <div class="how-we-work__container">
        <div class="how-we-work_icon icon1">
            <svg aria-hidden="false">
                <use xlink:href="#icon-onehouse_hww_receivership"></use>
            </svg>
            <p class="how-we-work_label">Receivership Process</p>
        </div>
        <div class="how-we-work_arrow">
            <svg aria-hidden="false">
                <use xlink:href="#icon-onehouse_hww_arrow"></use>
            </svg>
        </div>
        <div class="how-we-work_icon icon2">
            <svg aria-hidden="false" >
                <use xlink:href="#icon-onehouse_hww_qualifying"></use>
            </svg>
            <p class="how-we-work_label">Qualifying to bid</p>
        </div>
        <div class="how-we-work_arrow">
            <svg aria-hidden="false">
                <use xlink:href="#icon-onehouse_hww_arrow"></use>
            </svg>
        </div>
        <div class="how-we-work_icon icon3">
            <svg aria-hidden="false" >
                <use xlink:href="#icon-onehouse_hww_identifying"></use>
            </svg>
            <p class="how-we-work_label">Identifying the Property</p>
        </div>
        <div class="how-we-work_arrow">
            <svg aria-hidden="false">
                <use xlink:href="#icon-onehouse_hww_arrow"></use>
            </svg>
        </div>
        <div class="how-we-work_icon icon4">
            <svg aria-hidden="false" >
                <use xlink:href="#icon-onehouse_hww_preparing"></use>
            </svg>
            <p class="how-we-work_label">Preparing for Auction</p>
        </div>
        <div class="how-we-work_arrow">
            <svg aria-hidden="false">
                <use xlink:href="#icon-onehouse_hww_arrow"></use>
            </svg>
        </div>
        <div class="how-we-work_icon icon5">
            <svg aria-hidden="false" >
                <use xlink:href="#icon-onehouse_hww_auction"></use>
            </svg>
            <p class="how-we-work_label">Auction Procedures</p>
        </div>
        <div class="how-we-work_arrow">
            <svg aria-hidden="false">
                <use xlink:href="#icon-onehouse_hww_arrow"></use>
            </svg>
        </div>
        <div class="how-we-work_icon icon6">
            <svg aria-hidden="false" >
                <use xlink:href="#icon-onehouse_hww_settlement"></use>
            </svg>
            <p class="how-we-work_label">Settlement and Beyond</p>
        </div>
    </div>
    <div class="how-we-work__mobile-nav">
        <button class="how-we-work__nav-previous disabled" aria-label="Previous slide">
            <span class="visible-for-screen-readers">Previous slide</span>
        </button>
        <button class="how-we-work__nav-next" aria-label="Next slide">
            <span class="visible-for-screen-readers">Next slide</span>
        </button>
    </div>
</div>