<div class="call-to-action">
  <h2 class="call-to-action__title">{{ call_to_action.title }}</h2>
  <p class="call-to-action__text">{{ call_to_action.text }}</p>
  {% include "@components/buttons/button-set.twig" with call_to_action.button_set %}
</div>
