<div class="end-of-page-call-to-action">
  <div class="end-of-page-call-to-action__text-wrap">
    <h2 class="end-of-page-call-to-action__title">{{ end_of_page_call_to_action.title }}</h2>
    <p class="end-of-page-call-to-action__text">{{ end_of_page_call_to_action.text }}</p>
  </div>
  <div class="end-of-page-call-to-action__button-wrap">
    {% include "@components/buttons/button-set.twig" with end_of_page_call_to_action.button_set %}
  </div>
</div>
