{%
  set classes = [
    'paragraph-widget',
    'paragraph-widget--button-set',
  ]
%}

{% block paragraph %}

<div {{attributes.addClass(classes).setAttribute('id','ip_paragraph_adv-'~paragraph.id())}}>

  {% block content %}
    <div class="button-set">

      {% if content.field_ip_button_set_buttons|field_value %}
        <ul>
          {%
            set linkData = {
              'links': content.field_ip_button_set_buttons,
              'link_class': 'button',
              'link_pre': '<li>',
              'link_suff': '</li>',
            }
          %}
          {% include directory ~ '/templates/_includes/components/_links.html.twig' with linkData %}
        </ul>
      {% endif %}

    </div>

  {% endblock content %}

</div>
{% endblock paragraph %}