{%
  set classes = [
    'paragraph-widget',
    'paragraph-widget--accordion',
  ]
%}


{% block paragraph %}

<div {{attributes.addClass(classes).setAttribute('id','ip_paragraph_adv-'~paragraph.id())}}>

  {% block content %}

  <div class="accordion">
    {{ content.field_ip_accordion_items }}
  </div>

  {% endblock %}

</div>
{% endblock paragraph %}