<!-- Comma seperated display of taxonomy terms/nodes/etc -->
{% for item in items %}
  {% if not loop.last %}
    <span{{ item.attributes }}>{{ item.content }}, </span>
  {% else %}
    <span{{ item.attributes }}>{{ item.content }}</span>
  {% endif %}
{% endfor %}
