<div class="home-page-primary-text" >
    <div class="home-page-primary-text__header">
        <h3>{{ primary_text.header }}</h3>
    </div>
    <div class="home-page-primary-text__content">
        <p>{{ primary_text.content }}</p>
        <p class="home-page-primary-text__content-cta"><a href="{{ primary_text.url }}">{{ primary_text.link_text }}</a></p>
    </div>
</div>