.card {
  background-color: $white;
  border:solid rem(0.5) $cement;
  transition: box-shadow .25s linear;
  position: relative;
  height:100%;
  margin-bottom:rem(63);
  &.has-image{
    overflow: hidden;
  }
  &.card--clickable {
    cursor: pointer;
    &:hover {

      .card__cta {
        background-color: rgba($black, 0.5);
      }
    }
  }

  &.card--horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
    &.has-image {
      .card__title,
      .card__body,
      .card__optional {
        text-align: left;
      }
    }
  }

  a{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 10;
    opacity: 0;
    span{
        visibility: hidden;
    }
  }

  &:hover {
    box-shadow:0px -2px 40px rgba($black, 0.4);
    .card__media {
      img {
        transform: scale(1.1);
      }
    }
    .arrow-button {
      background-color: $graybrick;
      .arrow {
        background-color: $offwhite;
      }
      &::after {
        border-color: $offwhite;
      }
    }
  }
}

.card__cta {
  background-color: $black;
  color: $white;
  text-decoration: none;
  transition: 0.25s background-color ease-in-out;
  overflow: hidden;
  margin-top: rem(20);
  &:hover {
    background-color: rgba($black, 0.1);
  }
}

.card__content {
  position:relative;
  margin: rem(10) 0 0;
  padding: rem(30) rem(30) rem(20);
  .card--horizontal & {
    flex: 1 1 0;
    margin: 0;
    .card--optional{
      a{
        color:$primary;
        text-decoration:none;
        position: relative;
        &:active{
          color:$secondary;
        }
      }
    }
  }
  .card__title, .card__body, .card__optional{
    text-align:center;
  }
  .card__title{
    font-size:rem(32);
    line-height:1.0625;
    margin-bottom:rem(16);
    color:$black;
    font-family:$font;
    .has-image &{
      font-size:rem(24);
      line-height:1.16;
    }
  }
  .card__body{
    font-size:rem(20);
    .has-image &{
      font-size:rem(18);
    }
  }
  .card__optional{
    color:$primary;
    margin:0;
    position: relative;
    a{
      color:$primary;
      text-decoration:underline;
      position: relative;
      &:active{
        color:$secondary;
      }
    }
  }
}

.card__media {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  @extend %responsive-img;
  .card--horizontal & {
    flex: 0 1 auto;
    width: 40%;
    @include mq($min, $tablet) {
      width: 25%;
    }
  }
  .has-image &{
    &:before {
      padding-top: 66.6%;
      .card--horizontal & {
        padding-top: 150%;
        @include mq($min, $sm_palm) {
          padding-top: 100%;
        }
        @include mq($min, $tablet) {
          padding-top: 66.6%;
        }
      }
    }
  }
  img {
    transition: transform 0.3s linear;
  }
}
.arrow-button{
  background-color:#EFECEC;
  border-radius: 100%;
  width:rem(68);
  height:rem(3);
  padding:rem(34) rem(16);
  position:absolute;
  top:rem(-44);
  right:rem(33);
  text-align:center;
  transition: background-color 0.3s linear;
  @include mq($min, $tablet) {
    top:rem(-53);
    right:rem(-15);
  }
  .has-image &{
    top:rem(-44);
    right:rem(33);
    @include mq($min, $tablet) {
      top:rem(-53);
      right:rem(33);
    }
  }
  @include mq($min, $tablet) {
    width:rem(83);
    padding:rem(41.5) rem(16);
  }
  &:after{
    content:"";
    width:rem(15);
    height:rem(15);
    border-right:rem(3) solid $brick;
    border-bottom:rem(3) solid $brick;
    position:absolute;
    right:rem(19);
    bottom:rem(25);
    transform:rotate(-45deg);
    transition: border-color 0.3s linear;
    @include mq($min, $tablet) {
      right:rem(25);
      bottom:rem(33);
    }
  }
  .arrow{
    background-color:$brick;
    width:rem(30);
    height:rem(3);
    margin-inline:auto;
    transition: background-color 0.3s linear;
  }
}