.table {
  overflow: auto;

  table {
    empty-cells: show;
    border-collapse: collapse;
    border: 0;
    padding: 0;
    margin: 0;
    color: black;
    border: rem(2) solid red;
    overflow: auto;
    > :not(:first-child) {
      border-top: none;
    }
  }

  caption {
    @extend %visible-for-screen-readers;
  }

  thead {
    text-align: left;
    tr {
      background-color: $primary;
      color: $white;
    }
    th {
      padding: rem(25);
      font-size: rem(22);
      line-height: 1.18;
      font-weight: 600;
      vertical-align: middle;
      border: rem(2) solid $black;
      border-bottom: none;
      text-align: center;
      @include mq($min, $tablet) {
        font-size: rem(23);
        line-height: 1.13;
      }
    }
  }

  tbody {
    border-top: none;
    td {
      padding: rem(10);
      max-width: 90vw;
      min-width: rem(200);
      vertical-align: top;
      border: rem(2) solid $black;
      line-height: 1.5;
      text-align: center;
      font-size: rem(20);
      line-height: 1.5;
    }
  }
}
