//Colors
$white: #fff;
$color_white:#fff;
$black: #000;
$blue: #00f;
$offwhite: #fafafa;
$darkbrick: #540F11;
$lightgray:#E8E8E8;
$brick: #F85A5E;
$cement: #A1908E;
$pavement: #221F1F;
$granite: #535659;
$graybrick: #958683;

$primary:$brick;
$secondary:$darkbrick;
$tertiary:$cement;

//Typography
$font: "nimbus-sans", sans-serif;
$headerfont: 'Anton', sans-serif;
$header3font: 'Fira Sans Condensed', sans-serif;
$font-secondary: Georgia, Times, "Times New Roman", serif;
